//
// Global variables
// --------------------------------------------------

$prefix: 'demo';
// .#{$prefix}-m 	= module
// .#{$prefix}-p 	= page
// .#{$prefix}-h 	= helper
// .#{$prefix}-is = state


// Fonts
$font-black: 'DINWeb-Black';
$font-light: 'DINWeb-Light';
$font-medium: 'DINWeb-Medium';

// Colors
// Please use http://chir.ag/projects/name-that-color/#6195ED as reference for the colors name
$color-alto: #D1D1D1;
$color-black: #000000;
$color-dustygray: #999999;
$color-gray: #8B8B8B;
$color-turquoise: #12D9E2;
$color-white: #FFFFFF;

$color-gray: #161616; //body
$color-tundora: #454545; //buttons