//
// Global variables
// --------------------------------------------------

$prefix: 'demo';
// .#{$prefix}-m 	= module
// .#{$prefix}-p 	= page
// .#{$prefix}-h 	= helper
// .#{$prefix}-is = state


// Fonts
$font-demo: 'demo';

// Colors
// Please use http://chir.ag/projects/name-that-color/#6195ED as reference for the colors name
$color-black: #000000;
$color-white: #FFFFFF;
