// Site Core
@import '../../styles/core/variables';

// Site Helpers
@import '../../styles/helpers/mixins';

// Bootstrap Variables
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

h1, h2 {
  color: $color-white;
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: $color-turquoise;
}

@include breakpoint('phone') {
  a {
    color: $color-alto;
  }
}
